@using ShoppingCart.Models;

@{ 
    List<Product> products = (List<Product>)ViewData["Products"];
    string SessionId = (string)ViewData["SessionId"];
}

<div>
    <table border="0">
        <tr>
            <td width="250px"><i>Your search has returned @products.Count() results. </i></td>
            <td>
                <form method="post">
                    <input type="hidden" name="SessionId" value="@SessionId" />
                    <input type="submit" formaction="Gallery" value="Reset Search"/>
                </form>
            </td>
        </tr>
    </table>
</div>
